asgiref==3.5.0
black==22.3.0
click==8.1.0
dj-database-url==0.5.0
dj-email-url==1.0.5
Django==4.0.3
django-cache-url==3.4.0
django-mdeditor==0.1.20
environs==9.5.0
importlib-metadata==4.11.3
marshmallow==3.15.0
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
Pillow==9.0.1
platformdirs==2.5.1
psycopg2-binary==2.9.3
pyparsing==3.0.7
python-dotenv==0.20.0
sqlparse==0.4.2
tomli==2.0.1
typing_extensions==4.1.1
uWSGI==2.0.20
zipp==3.7.0
